body{
	font-family: 'PTSans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
}

h2{
	font-family: 'PTSans Bold', sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
}

p{
	font-family: 'PTSans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
}